/* global*/
:root{
    --primary: rgba(202, 202, 20, 0.747);
}
html{
    font-size:62.5% /*reset the html 1rem=10px*/
}
*{
    margin:0;
    padding:0;
}
p{
    font-size:1.6rem;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
}
img{
    max-width:100%;
}
p{
    font-size:1.6rem;
}
/*utilities*/
.upper-text{
    font-size:1.6rem;
    font-weight:bold;
    letter-spacing:3px;
    text-transform:uppercase;
}
.sub-text{
    background-color:black;
    color:white;
    font-size:1.6rem;
    font-weight:bold;
    letter-spacing:3px;
    text-transform:uppercase;
}
/**
.sub-text:hover{
    color:black;
    background-color:yellow;
}**/
.sub-text:before{
    width:100%;
    color:yellow;
    transition:all 2s linear;
}
.hide:hover{
    background-color:yellow;
}
/*menu*/
nav.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 6rem;
}
img.logo{
    height: 5rem;
}
.hide{
    display:none;
}
.icons{
    display:flex;
    justify-content: space-around;
    flex-basis:40%;
}
@media(min-width:768px){
    .hide{
        display:block;
    }
    .icons{
        flex-basis:20%;
    }   
}
/*header*/
header.site-header{
    background-color: black;
    text-align: center;
}
.site-header h1{
    font-size:4rem;
    color:white;
    text-transform:uppercase;
    letter-spacing:.4rem;
    padding-top:4rem;
}
.site-header .title-description{
    color:white;
    font-size:1.8rem;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2rem;
}
span.subs-text{
    border-bottom:2px solid var(--primary);
}
span.subs-text:hover{
    background-color:var(--primary);
    color:black;
    cursor:pointer;
}
@media(min-width:768px){
    .header-container{
        display:flex;
        flex-direction:row-reverse;
    }
    .news{
        flex-basis:60%;
    }
}
/*news*/
.main-news{
    height:40rem;
    width:40rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/chimp.webp);
    background-position:bottom center;
    background-size: cover;
}
/*.main-news-text{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}*/
 .main-news-text{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    height:90%;
    text-align: left;
    padding:1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color:white;
 }
 .main-news-text h2{
    color:white;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-size:1.2rem;    
 }
 .main-news-text .title{
    font-size:4rem;
    font-weight:bold;
 }
 .secondary-news{
    /*height not needed --- size to size of photo
    height: 45rem; ---- */
    width: 40rem;
    margin: 2rem auto;
 }
 .secondary-news-text{
    margin-top:-3px;
    width: 40rem;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    padding-left: 1rem;
 }
 .secondary-news img:hover{
     border-bottom: .5rem solid var(--primary);
 }
 .secondary-news-text h2{
    color:gray;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-size:1.2rem; 
 }
 .secondary-news-text p {
     font-size:2rem;
     font-weight:700;
 }
 .main-news .read-text {
    color:white;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
 .secondary-news-text .read-text {
     color:black;
     font-size: 1.4rem;
     text-transform: uppercase;
     letter-spacing: 3px;
}
@media(min-width:768px){
    .main-news{
        width:70rem;
    }
    .secondary-news{
        width:25rem;
    }
    .secondary-news-text{
        width:24rem;
    }
}
.picks-element {
    display:flex;
    width:87%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1rem;
}
.picks-element img {
    width:9rem;
    height:9rem;
}
.picks-element p {
    color:white;
    font-weight: 700;
    margin-left: 3rem;
}




* {
  margin: 0;
  padding: 0;
}
a{
  color:inherit;
}
/* trying to make all visited links do nothing maybe this will work??? */
*:visited {
  color: currentColor;
}
:root {
  --primary: rgb(248, 211, 0);
}
/* global */
html {
  font-size: 62.5%; /* 16px == 100% so (10/16) == 10px
                     now 1 rem=10px */
}
body {
  font-family: "Lato", sans-serif;
  background-color: black;
}
p {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
img.logo {
  height: 5rem;
}
/* utilities */
p.center-content {
  font-size: 2rem;
}
.center-content {
  text-align: center;
}
.hide {
  display: none;
}
/* menu */
/* figure out how to align login etc to the baseline of the white menu bar */
.menu-sub-button {
  background-size: 200% 100%;
  background-position: 100% 100%;
  background-image: linear-gradient(to left, black 50%, var(--primary) 50%);
  transition: all 0.2s ease-in-out;

  color: white;
}
.menu-sub-button:hover {
  /* color: black;
  background-color: var(--primary); */
  background-position: 0 0;
  color: black;
}
.top-bar-options p {
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding-top: 15px;
}
.top-bar-options {
  display: flex;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
}
.renew{
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
nav.menu {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: white;
  height: 5rem;
}

/* header */

header.site-header {
  background-color: black;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  height: 80vh;
  margin: 5px;
}
.site-header .mobile-headline {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-top: 60px;
  padding-bottom: 20px;
}
.site-header-button a:visited {
  color: white;
  font-size: larger;
}
.site-header-button a:hover {
  background-color: var(--primary);
  color: black;
}
.yellow-tac {
  color: var(--primary);
  font-size: 10rem;
  justify-content: center;
  text-align: center;
}
.main-news-text h2:hover,
h3:hover {
  text-decoration: underline;
}
.read-text {
  margin-top: 20px;
  margin-bottom: 5px;
}
.main-news-text .title {
  font-size: 3rem;
}
.main-news-text {
  margin-left: 2rem;
  padding-bottom: 2rem;
}
.main-news {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 45rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://i.natgeofe.com/n/b833c0ae-f906-44d2-acf7-a54758810daf/B6J39T.jpg?w=1024&h=1492);
  background-position: center;
  background-size: cover;
}
.main-story .read-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}
/* news articles after the first main one will be side by side unless screen is too small (not associated to 768px limit, instead used flex row wrap */
.secondary-news-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 20px;
}

.secondary-news {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.secondary-news-text {
  margin-top: -3px;
  background-color: white;
  border: 1px solid black;
  text-align: left;
  padding: 1rem;
}

.secondary-news img:hover {
  border-bottom: 0.5rem solid var(--primary);
}

.secondary-news-text h2 {
  color: gray;
  text-transform: uppercase;
  letter-spacing: 2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.secondary-news-text p {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.secondary-news > * {
  width: 100%;
}
.secondary-news-text .read-text {
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.secondary-news-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.todays-picks {
  padding-top: 20px;
  text-transform: uppercase;
  font-style: bold;
  font-size: 3.5rem;
  padding-bottom: 20px;
  letter-spacing: 0.3rem;
}
.picks-element {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.picks-element img {
  width: 7rem;
  height: 7rem;
}
.picks-element p {
  color: white;
  font-weight: 700;
  margin-left: 2rem;
}
section {
  margin-left: auto;
}

@media (min-width: 768px) {
  .main-news {
    width: 60rem;
  }
  .news {
    padding-left: 5px;
    flex-basis: 70%;
    margin-right: auto;
    max-width: 650px;
  }
  .hide {
    display: flex;
  }
  .show {
    display: none;
  }
  /* .icons {
    flex-basis: 20%;
  } */
  .header-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .mobile-headline {
    display: none;
  }
  .secondary-news-container {
    display: flex;
    flex-basis: 75%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* two secondary news content require splitting percentage in half */
  .secondary-news {
    width: 49%;
  }
}